<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/dilee/IdeaProjects/selenium_ci_sample/src/test/java/tests/LoginTests.java">
        <classes>
            <class name="tests.LoginTests"/>
        </classes>
    </test>
</suite>
